<div class = 'homePage'>
    
  <img class="beer-img" src="/images/beer.png" />
 <div class = 'buttons'>
  <a class="firstButton" href= "/beers">Check the Beers!</a>
  <a class="secondButton" href="/random_beer">Check a Random Beer</a>
</div>
<p>Develop by Ironhack :)</p>
</div>